{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
<link rel="stylesheet" href="http://172.18.10.171/BetterFlow/chrome/common/css/ticket.css" type="text/css" />
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">{% trans "Home" %}</a> &rsaquo; <a href="../../"> ClearCase Lock 改动电子流 </a>&rsaquo; 
    <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo; 审核
</div>{% endblock %}{% endif %}
{% block content %}
    <div id="content" class="colM">
        <h1>你确定要？</h1>
        <p>你是否确定要 {{action_descn}}:</p>
    <ul>
        <li>ClearCase Lock 改动电子流： <a href="../../{{original.id}}/">{{original}}</a></li>
    </ul>

    <form action="" method="post">
    <div>
        <input type="hidden" name="action" value="{{action}}" />
    <input type="submit" value="确认" />
    </div>
    </form>


        
        <br class="clear" />
    </div>
{% endblock %}
