{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
<link rel="stylesheet" href="/workflow/static/css/ticket.css" type="text/css" />
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="../../../../">{% trans "Home" %}</a> &rsaquo;
		<a href="../../../../vob_config/all/">vob_config all</a> &rsaquo;
		{{title}}&rsaquo; 
	</div>
{% endblock %}{% endif %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
	<form action="../../../../release_tool/release/{{vob_config.id}}/{{product.id}}/" method="get" id="product_form">
    <div>
        <div id="ticket">
          <h2 class="summary searchable">产品信息</h2>
          <table class="properties">
            <tbody>
				<tr>	
					<th> 分支名称</th>
					<td>{{vob_config.title}}</td>
				</tr>
				<tr>	
					<th> 产品名称</th>
					<td>{{product.title}}</td>
				</tr>
				<tr>
					<th>产品branch:</th>
					<td>{{product.product_branch}}</td>
				</tr>
				<tr>	
					<th> 产品型号</th>
					<td>{{product.product_name}}</td>
				</tr>
				<tr>	
					<th>产品最后发布版本:</th>
					<td>{{product.last_release_version}}</td>
				</tr>
				<tr>	
					<th>产品管理员:</th>
					<td>{{product.product_manager.first_name}}</td>
				</tr>
			</tbody>
		  </table>
		  </div>
    </div>
<div style="text-align:center;">
{% if can_release %}
    <input type="hidden" id="action" name="action" value="" />
    <input type="submit" value="发布版本" name="_release" style="width:200px;height:50px;" onclick="document.getElementById('action').value='all_release'"/>
    <input type="submit" value="更新版本号" name="_update_version_id"  style="width:200px;height:50px;" onclick="document.getElementById('action').value='update_version'"/>
    <input type="submit" value="预发布" name="_release_ready"  style="width:200px;height:50px;" onclick="document.getElementById('action').value='ready_release'"/>
{% endif %}
</div>
</form>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>公告</h2>
	<p>开发阶段暂不支持此功能</p>
    </div>
</div>
{% endblock %}
