{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
<link rel="stylesheet" href="http://172.18.10.171/sites_media/workflow/styles/ticket.css" type="text/css" />
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">{% trans "Home" %}</a> &rsaquo; <a href="../../../"> review 信息电子流 </a>&rsaquo;查询review信息
{% if view %}{% trans "View" %} review 信息电子流 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}

<div id="content-main">
<form action="../../todo/{{original.workflow_id}}/approve" method="get" id="prjreport_form">
<div>
    <div id="ticket">
        <div class="date">
            <p>提交者：{{original.submitter}}</p>
            <p>所在组：{{original.team}}</p>
        </div>
        <h2 class="summary searchable">{{original.mrs}}</h2>
    <table class="properties">
    <tbody>
    <tr>
        <th>
            <label> reviewer1:</label> 
        </th>
        <td>
            {{original.reviewer1}}
        </td>
        <th>
            <label> reviewer2:</label> 
        </th>
        <td>
            {{original.reviewer2}}
        </td>
        <th>
            <label> 参与度:</label> 
        </th>
        <td>
            {{original.reviewer2_energy}}
        </td>
    </tr>
    <tr>
        <th>
            <label> total cost time(hour):</label> 
        </th>
        <td>
            {{original.totalTime}}
        </td>
        <th>
            <label> reviewer3:</label> 
        </th>
        <td>
            {{original.reviewer3}}
        </td>
        <th>
            <label> 参与度:</label> 
        </th>
        <td>
            {{original.reviewer3_energy}}
        </td>
    </tr>
    <tr>
        <th>
            <label> MR root cause:</label> 
        </th>
        <td>
            {{original.mrRootCause}}
        </td>
        <th>
            <label> 是否修改引入:</label> 
        </th>
        <td>
            {{original.isLeadInto}}
        </td>
        <th>
            <label> Feature:</label> 
        </th>
        <td>
            {{original.module}}
        </td>
    </tr>
    <tr>
        <th>
            <label> Risk:</label> 
        </th>
        <td>
            {{original.risk}}
        </td>
    </tr>
    </tbody></table>
    
    <div class="description">
        <h3 id="comment:description">MR原因描述:</h3>
        <div>
            <p>
            {{original.reasonDecription}}
            <br/>
            </p>
        </div>
    </div>
    <div class="description">
            <h3 id="comment:description">Found Problems:</h3>
            <div>
            <p>
                {{original.questionDecr}}
            <br/>
            </p>
        </div>
    </div>
</div>


<div class="submit-row">
  <input type="button" value="更新" name="update_review"  class="default" onclick="window.location.href = '../../../mr_review/update/'+{{original.workflow_id}}"/>
</div>
</form>


</div>
{% endblock %}

