{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../../"> review 信息电子流 </a>&rsaquo;根据规则查询review信息
{% if add %}{% trans "Add" %} review 信息电子流 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}

<div id="content-main">
<form action="" method="post" id="prjreport_form" enctype="multipart/form-data">
<div>
	<div id="changelist-filter">
	<h3> 查询条件：</h3>
	</div>
	
	<fieldset class="module aligned ()">
		<div class="form-row" >
			<label class="">提交者</label> 
			{{form.submitter_name}}
			{{form.errors.submitter_name}}
		</div>

		<div class="form-row" >
			<label class="">MR ID</label> 
			{{form.mr_id}}
			{{form.errors.mr_id}}
		</div>

		<div class="form-row" >
			<label class="">审批时间</label> 
			{{form.approver_time}}
			&nbsp;&nbsp;格式：年-月-日 （如：2013-7-13）
			<!-- {{form.errors.approver_time}} -->
			{{form.errors.ext_bugs|safe}}

		</div>

		<div class="form-row" >
			<label class="">reviewer1</label> 
			{{form.reviewer_one}}
			{{form.errors.reviewer_one}}
		</div>

		<div class="form-row" >
			<label class="">reviewer2</label> 
			{{form.reviewer_two}}
			{{form.errors.reviewer_two}}
		</div>

		<div class="form-row" >
			<label class="">MR root cause</label> 
			{{form.mr_rootcause}}
			{{form.errors.mr_rootcause}}
		</div>

		<div class="form-row" >
			<label class="">所属模块或特性</label> 
			{{form.mr_module}}
			{{form.errors.mr_module}}
		</div>

		<div class="form-row" >
			<label class="">Team</label> 
			{{form.team_name}}
			{{form.errors.team_name}}
		</div>
	</fieldset>
	
	<div>
		<div id="changelist-filter" >
		<h3> 显示内容：<input class="checkbox" type="checkbox" onclick="
			var info=document.getElementsByName('review_result');
			for (var i=0; i<info.length;i++){
                	info[i].checked=this.checked;
			}
			"/>
		</h3> 
		</div>
			
		  <fieldset class="module aligned ()">
		  	 <div class="form-row" >
		  	 		MR_ID  <input class="checkbox" type="checkbox" name="review_result" value="MR_ID:mrs"> &nbsp;&nbsp;
		  	 		申请人 <input class="checkbox" type="checkbox" name="review_result" value="申请人:submitter"> &nbsp;&nbsp;
		  	 		Reviewer1 <input class="checkbox" type="checkbox" name="review_result" value="Reviewer1:reviewer1">&nbsp;&nbsp;
		  	 		Total_cost_time <input class="checkbox" type="checkbox" name="review_result" value="Total_cost_time:totalTime">&nbsp;&nbsp;
		  	 </div>
			<div class="form-row" >
		  	 		reviewer2 <input class="checkbox" type="checkbox" name="review_result" value="Reviewer2:reviewer2">&nbsp;&nbsp;
				    reviewer2 参与度 <input class="checkbox" type="checkbox" name="review_result" value="review2投入度:reviewer2_energy">&nbsp;&nbsp;
		  	 		reviewer3 <input class="checkbox" type="checkbox" name="review_result" value="Reviewer3:reviewer3">&nbsp;&nbsp;
					reviewer3 参与度 <input class="checkbox" type="checkbox" name="review_result" value="review3投入度:reviewer3_energy">&nbsp;&nbsp;
		  	 </div>
		  	 <div class="form-row" >
		  	 	  问题原因描述 <input class="checkbox" type="checkbox" name="review_result" value="问题原因描述:reasonDecription">&nbsp;&nbsp;
		  	 		<!--典型问题 <input class="checkbox" type="checkbox" name="review_result" value=典型问题:"typicalQuestion">&nbsp;&nbsp;-->
		  	 		发现的问题 <input class="checkbox" type="checkbox" name="review_result" value="发现的问题:questionDecr">&nbsp;&nbsp;
		  	 		发现的问题个数 <input class="checkbox" type="checkbox" name="review_result" value="发现的问题个数:questionNum">&nbsp;&nbsp;
		  	 		MR_root_cause <input class="checkbox" type="checkbox" name="review_result" value="MR_root_cause:mrRootCause">&nbsp;&nbsp;
		  	 </div>
		  	 <div class="form-row" >
		  	 	  修改引入 <input class="checkbox" type="checkbox" name="review_result" value="修改引入:isLeadInto">&nbsp;&nbsp;
		  	 	  Risk <input class="checkbox" type="checkbox" name="review_result" value="Risk:risk">&nbsp;&nbsp;
		  	 		所属模块或特性 <input class="checkbox" type="checkbox" name="review_result" value="所属模块或特性:module">&nbsp;&nbsp;
		  	 		Team <input class="checkbox" type="checkbox" name="review_result" value="Team:team">&nbsp;&nbsp;
		  	 		review_date <input class="checkbox" type="checkbox" name="review_result" value="review_date:reviewTime">&nbsp;&nbsp;
		  	 </div>
			 <div class="form-row" >
		  	 	  Defect Target <input class="checkbox" type="checkbox" name="review_result" value="Defect Target:DefectTarget">&nbsp;&nbsp;
		  	 	  Defect Type <input class="checkbox" type="checkbox" name="review_result" value="Defect Type:DefectType">&nbsp;&nbsp;
		  	 	  Defect Qualifier <input class="checkbox" type="checkbox" name="review_result" value="Defect Qualifier:DefectQualifier">&nbsp;&nbsp;
		  	 	  Defect Source<input class="checkbox" type="checkbox" name="review_result" value="Defect Source:DefectSource">&nbsp;&nbsp;
		  	 	  Defect Age<input class="checkbox" type="checkbox" name="review_result" value="Defect Age:DefectAge">&nbsp;&nbsp;
		  	 </div>
		  </fieldset>
	</div>
	
	<div class="submit-row">
		<input type="submit" value="查询" class="default" />
	</div>
	
</div>

</div>
</form>

{% endblock %}
