{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../../"> 规格ID申请电子流 </a>&rsaquo; 
{% if add %}{% trans "Add" %} 规格ID申请 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}
  
<script>
  function check(){
    if(document.getElementById('id_specIdFile').value.length == 0){
      alert("请选择要申请Id的文件名");
      return false;
    }
    if(document.getElementById('id_idNumbers').value.length == 0){
      alert("请填写申请Id的个数");
      return false;
    }else{
      val = document.getElementById('id_idNumbers').value;
      if(isNaN(val)){
        alert("申请的id数必须是数字");
        return false;
      }
    }
    return true;
  }
</script>
  
<div id="content-main">
<div class="module" id="changelist-filter">
  <h2>说明</h2>
  <ul>
    <li>如果相同名字的spec已经在其它分支上存在，就不用再申请，请直接用那个值即可。</li>
    <li>由于规格id会去查询所有分支的文件，所以会比较慢，请耐心等待。</li>
  </ul>
</div>

<form action="" method="post" id="prjreport_form" enctype="multipart/form-data" onsubmit="return check();">
<div>
<fieldset class="module aligned ()">
<div class="form-row" >
  <label> 申请者：</label> 
  {{submitter}}
</div>
<div  style="display:none">
      {{form.maxId}}
      {{form.submitter}}
</div>
<div class="form-row" >
  <label> 文件名：</label> 
  {{form.specIdFile}}
  {{form.errors.specIdFile}}
</div>
<div class="form-row" >
  <label> Vob branch 1：</label> 
  {{form.branch1}}
  {{form.errors.branch1}}
</div>
<div class="form-row" >
  <label> Vob branch 2：</label> 
  {{form.branch2}}
  {{form.errors.branch2}}
</div>
<div class="form-row" >
  <label> Vob branch 3：</label> 
  {{form.branch3}}
  {{form.errors.branch3}}
</div>
<div class="form-row" >
  <label> Vob branch 4：</label> 
  {{form.branch4}}
  {{form.errors.branch4}}
</div>
<div class="form-row" >
  <label> Vob branch 5：</label> 
  {{form.branch5}}
  {{form.errors.branch5}}
</div>
<div class="form-row" >
  <label> Vob branch 6：</label> 
  {{form.branch6}}
  {{form.errors.branch6}}
</div>
</fieldset>

<fieldset class="module aligned ()">
<div class="form-row" >
  <label>申请ID个数：</label> 
  {{form.idNumbers}}
  {{form.errors.idNumbers}}
</div>
</fieldset>
<input type="submit" value="保存" class="default" />
</div>
   <script type="text/javascript">document.getElementById("id_title").focus();</script>
</div>
</form>
</div>
{% endblock %}
