{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">{% trans "Home" %}</a> &rsaquo; <a href="../"> ClearCase Lock 改动电子流 </a>&rsaquo; 
{% if add %}{% trans "Add" %} ClearCase Lock 改动电子流 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}
<div id="content-main">

{% load cclock_filters %}
{% load cclock_tags %}


<form action="" method="post" id="prjreport_form" enctype="multipart/form-data">
<div>
<fieldset class="module aligned ()">

<div class="form-row" >
  
  <BR><LEFT><BR><label> MR列表：</label>
  <textarea rows="5" cols="40" name="bugs" id="id_bugs" readonly = "readonly">{{bugs}}</textarea>
</div>

<div class="form-row" >
  
  <BR><LEFT><BR><label> VOB列表：</label>
  <textarea rows="5" cols="100" name="branch" id="id_branch" readonly = "readonly">{{branch}}</textarea>
</div>

<div class="form-row" >
  <ul><li>提示: 文件名请使用以OnsPlatform开头的全路径,并且每一行只输入一个文件名。</li></ul>
  <ul><li>示例：OnsPlatform\bsp_cmm\bsp_files\biosmain.c</li></ul>
  <BR><LEFT><BR><label> 文件名：</label>
  <BR><LEFT><BR><label> 文件列表：</label>
  <textarea rows="8" cols="100" name="file_full_name" id="id_file_full_name">{{filelist}}</textarea>
</div>
    
</fieldset>
                        


<div class="submit-row">
<input type="submit" value="保存" class="default" />
</div>

   <script type="text/javascript">document.getElementById("id_title").focus();</script>
</div>
</form>
</div>




{% endblock %}
