{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; ClearCase Lock 改动电子流</div>{% endblock %}{% endif %}
{% block content %}
<div id="content-main">

{% load cclock_filters %}
{% load cclock_tags%}
<div class="module filtered" id="changelist">

<div id="changelist-filter">
<h2>说明</h2>
<h3> 说明 </h3>
<ul>
    <li>zhang fan 求交往<BR>联系方式：<BR>QQ : 267365203<BR>iphone : 18268884538</li>
</ul>


</div>
<table cellspacing="0">
	<thead>
		<tr>
			<th>提交者</th>
			<th>MR</th>
			<th>空文件名</th>
			<th>VobBranch</th>
		</tr>
	</thead>
	<tbody>
		{% for o in newfile_records %}
					<tr class="{% cycle row1,row2 %}">
						<td>{{o.submitter}}</td>
						<td>{{o.mrs}}</td>
						<td>{{o.file_full_name}}</td>
						<td>
							{% if o.vob_branch_1 %}
								{{o.vob_branch_1}}<BR>
							{% endif %}
							{% if o.vob_branch_2 %}
								{{o.vob_branch_2}}<BR>
							{% endif %}
							{% if o.vob_branch_3 %}
								{{o.vob_branch_3}}<BR>
							{% endif %}
							{% if o.vob_branch_4 %}
								{{o.vob_branch_4}}<BR>
							{% endif %}
							{% if o.vob_branch_5 %}
								{{o.vob_branch_5}}<BR>
							{% endif %}
							{% if o.vob_branch_6 %}
								{{o.vob_branch_6}}<BR>
							{% endif %}
						</td>
					</tr>
		{% endfor %}
	</tbody>
</table>

<p class="paginator">
&nbsp;
</p>
</div>
</div>

{% endblock %}
