{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../../"> review 信息电子流 </a>&rsaquo;根据规则查询review信息
{% if add %}{% trans "Add" %} review 信息电子流 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}

<div id="content-main">
<form action="" method="post" id="prjreport_form" enctype="multipart/form-data" style="background:#00cece">
<div>

	<div id="changelist-filter">
	<h3> 查询条件：</h3>
	</div>
	
	<fieldset class="module aligned ()">
		<div class="form-row" >
			<label class="">提交者</label> 
			{{form.submitter_name}}
			{{form.errors.submitter_name}}
		</div>

		<div class="form-row" >
			<label class="">MR ID</label> 
			{{form.mr_id}}
			{{form.errors.mr_id}}
		</div>
		<div class="form-row" >
			<label> Vob Branch：</label> 
			{{form.vob_branch}}
			{{form.errors.vob_branch}}
		</div>
		
	</fieldset>
	
	<div class="submit-row">
		<input type="submit" value="查询" class="default" />
	</div>
	
</div>

</div>
</form>

{% endblock %}
