{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; Review 信息电子流</div>{% endblock %}{% endif %}
{% block content %}

<div id="content-main">

{% load filter_record %}

<fieldset class="module"> 
		
<table cellspacing="0" style="table-layout:fixed;">
	<thead>
	<tr>
	    {% for t_head in table_head_list %}
	    <th> {{t_head}} </th>
	    {% endfor %}
	</tr>
	</thead>
	<tbody>
	    {% for t_record in review_records %}
		<tr class="{% cycle row1,row2 %}">
		{% for t_data in table_data_list %}
		    <td width="110px" nowrap> {{t_record|filter_record:t_data}}</td>
		{% endfor %}
		</tr>
 	    {% endfor %}

	</tbody>
</table>


<p class="paginator">
&nbsp;
</p>

</fieldset>

</div>
{% endblock %}