{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div id="content-main">

	<div class="module">
	<table>
		<caption>分支及产品管理</caption>
		<tr>
			<th scope="row"><a href="vob_config/all/">分支信息及版本管理</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<!--
	<table>
	<caption>ClearCase Lock 改动电子流</caption>
	
		<tr>
			<th scope="row"><a href="cclock/my/?q_approve_result=u">我提交的请求</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="cclock/todo/q_approve_result=o">查看所有通过审核的请求</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="cclock/todo/query">根据规则过滤审核请求</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="cclock/todo/?q_approve_result=u">待审核的请求</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	-->
	<!--
		<tr>
			<th scope="row"><a href="cclock/lock/">ClearCase权限管理</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	
	</table>
	-->
			 <!--
	<table>
	<caption>ClearQuest MR 改动电子流</caption>
		<tr>
			<th scope="row"><a href="cclock/checkmr/?state=ReadyForBuild">批量更新MR状态（Resolved）</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="mr_flow/edit">新建一个MR</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table>
	<caption>Review 信息电子流</caption>
		<tr>
			<th scope="row"><a href="mr_review/todo/query">根据规则过滤review信息</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table>
	<caption>规格电子流</caption>
		<tr>
			<th scope="row"><a href="spec/add">规格ID申请</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="spec/todo/query">规格ID查询</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table>
	<caption>ClearCase新建空文件</caption>
		<tr>
			<th scope="row"><a href="newfile/add">ClearCase上新建空文件</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th scope="row"><a href="newfile/query">查询在ClearCase上新建的文件</a></th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
	-->
	</div>
	
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>公告</h2>
        <h3>使用说明</h3>
		<p>最新的使用说明请参考wiki<a href="http://172.18.10.171/wiki/BetterFlow/workflow"><br/>《使用说明》</a></p>
    </div>
</div>
{% endblock %}
