{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
<link rel="stylesheet" href="http://172.18.10.171/sites_media/workflow/styles/ticket.css" type="text/css" />
{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}auth-group change-form{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">{% trans "Home" %}</a> &rsaquo; <a href="../"> ClearCase Lock 改动电子流 </a>&rsaquo; 
{% if add %}{% trans "Add" %} ClearCase Lock 改动电子流 {% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>{% endblock %}{% endif %}
{% block content %}
<div id="content-main">

{% load cclock_filters %}
{% load cclock_tags %}
{% load websetting %}

<script>
    function o(s) {
        document.write(s);
    }    
    approvers={% approvers %};
    approver_name={% approver_name %};
    function get_vb_approver(vb) {
        if (!vb) return "";
        xs=approvers[vb];
        help_txt="";
        for (i=0;i<xs.length;i++) {
            x=approver_name[xs[i]];
            help_txt+=x+', ';
        }
        return help_txt;
    }
</script>

{% load cclock_filters %}
<form action="../../todo/{{original.id}}/approve" method="get" id="prjreport_form">
<div>

      <!-- Do not show the ticket (pre)view when the user first comes to the "New Ticket" page.
           Wait until they hit preview. -->
        <!-- Ticket Box (ticket fields along with description) -->
        <div id="ticket">
          <div class="date">

            <p>提交日期：{{original.submit_time}}</p>
            <p>审核日期：{{original.approve_time}}</p>
          </div>
          <!-- use a placeholder if it's a new ticket -->
          <h2 class="summary searchable">{{original.title}}（{{original.approve_result|approve_result}}）</h2>

          <table class="properties">
            <tbody><tr>
              <th>申请人：</th>
              <td>{{original.submitter}}   ({{CN_Name}})</td>
              <th>完成审核的审核人：</th>
              <td>{{original.who_approver}}</td>
            </tr>

            <tr>
                <th>
                  Vob branch 1：
                </th>
                <td>
                  {{original.vob_branch_1}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_1|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  Vob branch 2：
                </th>
                <td>
                  {{original.vob_branch_2}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_2|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  Vob branch 3：
                </th>
                <td>
                  {{original.vob_branch_3}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_3|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  Vob branch 4：
                </th>
                <td>
                  {{original.vob_branch_4}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_4|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  Vob branch 5：
                </th>
                <td>
                  {{original.vob_branch_5}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_5|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  Vob branch 6：
                </th>
                <td>
                  {{original.vob_branch_6}}
                </td>
                <th>
                  审核人：
                </th>
                <td>
                    <script>o(get_vb_approver('{{original.vob_branch_6|js_str}}'))</script>
                </td>
            </tr>
            <tr>
                <th>
                  MR列表：
                </th>
                <td>
                  {{original.bugs.all|str_bugs}}
                </td>
                <th>
                  附件：
                </th>
                <td>
                  {{original.attachments|attachments|safe}}
                </td>
            </tr>
          </tbody></table>
            <div class="description">
              <h3 id="comment:description">描述</h3>
              <div>
                <p>
                {{original.descn}}
                <br/>
                </p>
              </div>
            </div>
            <div class="description">
              <h3 id="comment:description">审核备注</h3>
              <div>
                <p>
                {% if can_approve %}
                    <textarea name="approve_note" rows="4" cols="100">{{original.approve_note}}</textarea>
                {% else %}
                    {{original.approve_note}}
                {% endif %}
                <br/>
                </p>
              </div>
            </div>
        </div>

<div class="submit-row">
{% if can_approve %}
    <input type="hidden" id="action" name="action" value="" />
    <input type="submit" value="审核通过" name="_pass"  class="default" onclick="document.getElementById('action').value='o'"/>
    <input type="submit" value="驳回" name="_reject" onclick="document.getElementById('action').value='x'"/>
{% endif %}
    <input type="submit" value="更新" name="_update" onclick="document.getElementById('action').value='u'"/>
    
{% if mr_review_add  %}
    <input type="button" value="添加review信息" name="reviewinfo" onclick="window.location.href = '../../../mr_review/add/'+{{original.id}}"/>
{% else%}
   <input type="button" value="更新review信息" name="reviewinfo"  onclick="window.location.href = '../../../mr_review/update/'+{{original.id}}"/> 
{% endif%}
</div>
</form>


</div>
{% endblock %}

