{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; ClearCase Lock 改动电子流</div>{% endblock %}{% endif %}
{% block content %}
<div id="content-main">

<ul class="object-tools"><li><a href="add/" class="addlink">增加 ClearCase Lock 改动电子流</a></li></ul>

{% load cclock_filters %}
{% load cclock_tags%}
<div class="module filtered" id="changelist">

    <div id="toolbar">
        &nbsp;<b>状态：</b>
        {% approve_result_filter %}
    </div>

<div id="changelist-filter">
<h2>说明</h2>
<h3> 说明 </h3>
<ul>
    <li>暂时没有说明</li>
</ul>


</div>

<table cellspacing="0">
	<thead>
		<tr>
			<th>标题</th>
			<th>状态</th>
            <th>提交时间</th>
            <th>审核时间</th>
            <th>RFB MR</th>
	    <th>添加空白文件</th>
		</tr>
	</thead>
	<tbody>
		{% for o in cclocks%}
		<tr class="{% cycle row1,row2 %}">
			<th><a href="{{o.id}}/">{{o.title}}</a></th>
            <td>{{o.approve_result|approve_result}}</td>
            <td>{{o.submit_time}}</td>
            <td>{{o.approve_time}}</td>
            <td><a href="{{o.id}}/rfb_mr/">RFB MR</a></td>
	    <td><a href="../../blank/{{o.id}}/">添加空白文件</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>




<p class="paginator">
&nbsp;
</p>

</div>
    
</div>
{% endblock %}
